*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

/* navbar section */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    padding: 0 20px;
    z-index: 100;
}

.navbar .nav{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.nav .nav-left{
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.nav-left .location-div{
    font-size: 14px;
    max-width: 300px;
    cursor: pointer;

    
}

.location-div .other{
    font-weight: 700;
    color: #3d4152;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
}

.location-div .other:hover{
    border-bottom: 2px solid #fc8019;
    color: #fc8019;
}
.location-div .location{
    font-weight: 300;
    color: #686b78;
    padding: 0 5px;
}

.location-div .arrow-down{
    color: #fc8019;
}

.nav-right{
    display: flex;
    align-items: center;
}
.nav-right .items{
    display: flex;
}

.nav-right .items li{
    font-weight: 500;
    list-style-type: none;
    font-size: 16px;
    color: #3d4152;
    margin-right: 36px;
}

.nav-right .items .nav-item{
    padding-left: 28px;
    cursor: pointer;
    display: flex;
}
.nav-right .items .nav-item a{
    display: flex;
    align-items: center;
    color: #3d4152;
    text-decoration: none;
}

.nav-item span{
    padding-left: 11px;
}

/* main section */
.content-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    position: relative;
    top: 80px;
    left: 10px;
}

.container .item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.item-bar .number{
    font-weight: 700;
    font-size: 28px;
    color: #3d4152;
}
.item-bar .filters{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #686b78;
    font-size: 16px;
    cursor: pointer;
    gap: 35px;
}

.restaurant-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 85px;
    margin-top: 40px;
}

.restaurant-list .place-link{
    text-decoration: none;
    background: #fff;
    color: #3d4152;
}

.restaurant-list .list-item{
    padding: 25px;
    border: 1px solid #fff;
}
.restaurant-list .list-item:hover{
    border: 1px solid #d3d5df;
    box-shadow: 0px 4px 7px 0px rgba(218 220 230 / 60%);
}
.item-content .top-img{
    background: #eef0f5;
    width: 254px;
    height: 160px;
}

.top-img img{
    opacity: 0.7;
}
.item-content{
    position: relative;
}

.status{
    position: absolute;
    background-color: rgb(58, 60, 65);
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    top: 0px;
    left: -8px;
    border-color: rgb(30, 32, 35) transparent;
}
.status::before{
    position: absolute;
    bottom: -9px;
    content: '';
    border-width: 9px 0 0 9px;
    border-color: inherit;
    border-style: solid;
    left: 0px;
}

.place-name-div {
  margin-top: 14px;
}
.place-name-div .name {
  font-size: 17px;
  font-weight: 500;
  /* to bring text in next line */
  word-break: break-word;
}
.place-name-div .food-items {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
  font-weight: 300;
}

.info-div {
  display: flex;
  align-items: center;
  margin-top: 18px;
  font-size: 12px;
  justify-content: space-between;
  color: #535665;
  font-weight: 300;
}
.info-div .rating {
  background-color: #db7c38;
  color: #fff;
  height: 20px;
  width: 36px;
  padding: 0 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.icon-star {
  font-size: 10px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.offer-div {
  border-top: 1px solid #e9e9eb;
  padding-top: 14px;
  margin-top: 14px;
  color: #8a584b;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.offer-div .icon-offer-filled {
  font-size: 16px;
  width: 20px;
  height: 16px;
  margin-right: 4px;
}

.offer-div .offer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}
.offer-text .fa-tags {
  margin-right: 2px;
}

.place .quick-view{
    visibility: hidden;
    font-size: 13px;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    text-align: center;
}
.place:hover .quick-view{
    visibility: visible;
}

.quick-view .view-btn{
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
}


